// $brand-color:         #fede00;
$brand-color:         #FAFAFA;

$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #64644B;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;
$h2font:              "IBM Plex Sans", sans-serif;
$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;